
<style>
        button {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        }

    button:active {
        transform: scale(0.95);
    }

    body {
        --color-1: #5F50BF;
        --color-2: #7382D9;
        --color-3: #1C66A6;
        --color-4: #1EB7D9;
        --color-5: #29C7D9;

        height: 100%;
        color: white;

        /*padding: 20px;*/
        background-image: url('https://c4.wallpaperflare.com/wallpaper/37/323/635/league-of-legends-shurima-blurred-video-games-wallpaper-preview.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    button:focus {
        outline: none;
    }
    .btn1{
      padding: 0px;
    }
    table, th, td {
    border: 1px solid royalblue;
    border-collapse: collapse;
    }
    table{
      height: 100%;
    }
    th{
      text-align: center;
    }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" class="logo_brand">
            <h2>LIÊN MINH HUYỀN THOẠI</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trangbi">TRANG BỊ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trandau">TRẬN ĐẤU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/champions">TƯỚNG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/skins">TRANG PHỤC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/taikhoan">TÀI KHOẢN</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/user/add">Add User</a>
              </li> --}}
          </div>
        </div>
      </nav>
</header>

<body>
  <div class="container" id="container">

    <table style="width:100%">
      <tr>
        <th>Người chơi</th>
        <th>Tướng</th>
        <th>Phe</th>
        <th>Thắng/thua</th>
        <th>Chỉ số lính</th>
        <th>Kill</th>
        <th>Death</th>
        <th>Assist</th>
      </tr>
      {{#each user}}
      <tr>
        <th>{{TEN}}</th>
        <th>{{TEN_TUONG}}</th>
        <th>{{PHE}}</th>
        <th>{{THANG_THUA}}</th>
        <th>{{CHI_SO_LINH}}</th>
        <th>{{KILL}}</th>
        <th>{{DEATH}}</th>
        <th>{{ASSIST}}</th>
      </tr>
      {{/each}}
    </table>
    
    <form>
    <a class="btn btn-warning pull-left" href="/trandau"><b>Quay lại</b></a>
    </form>
  </div>
</body>