<style>
        button {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }
    .btn1{
      padding: 0px;
    }
    body{
      background: url(AnhNen.jpg);
      background-size: cover;
      background-color: #e4efe9;
    }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" class="logo_brand">
            <h2>CHI TIẾT TRANG BỊ</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trangbi">TRANG BỊ</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/user/add">Add User</a>
              </li> --}}
          </div>
        </div>
      </nav>
</header>

<body>
  <div class="container" id="container">

    {{#unless flag}}
    <h1>{{user.TEN_TRANG_BI}}</h1>
    <ul class="list-group">
      <li class="list-group-item"><strong>Mã: </strong>{{user.MA_TRANG_BI}}</li>
      <li class="list-group-item"><strong>Tên: </strong>{{user.TEN_TRANG_BI}}</li>
      <li class="list-group-item"><strong>Mô tả: </strong>{{user.MO_TA_TRANG_BI}}</li>
      <li class="list-group-item"><strong>Hiệu ứng: </strong>{{user.HIEU_UNG}}</li>
      <li class="list-group-item"><strong>Giá mua: </strong>{{user.GIA_MUA}}</li>
    </ul>
    <br>

    <form method="POST" class="btn btn-danger pull-left" action="/trangbi/xoa/{{user.MA_TRANG_BI}}?_method=DELETE">
      <input type="submit" class="btn btn-danger pull-left btn1" value="Xóa">
    </form>
    <form method="POST" class="btn btn-success pull-left" action="/trangbi/chinhsua/{{user.MA_TRANG_BI}}">
      <input type="submit" class="btn btn-success btn1" value="Chỉnh sửa">
    </form>
    <form method="POST" class="btn btn-primary pull-left" action="/trangbi/thongke/{{user.MA_TRANG_BI}}">
      <input type="submit" class="btn btn-primary btn1" value="Thống kê">
    </form>
    
    {{/unless}}


    {{#if flag}}
    {{#each user}}
    <h1>{{TEN_TRANG_BI}}</h1>
    <ul class="list-group">
      <li class="list-group-item"><strong>Mã: </strong>{{MA_TRANG_BI}}</li>
      <li class="list-group-item"><strong>Tên: </strong>{{TEN_TRANG_BI}}</li>
      <li class="list-group-item"><strong>Mô tả: </strong>{{MO_TA_TRANG_BI}}</li>
      <li class="list-group-item"><strong>Hiệu ứng: </strong>{{HIEU_UNG}}</li>
      <li class="list-group-item"><strong>Giá mua: </strong>{{GIA_MUA}}</li>
    </ul>
    <br>

    <form method="POST" class="btn btn-danger pull-left" action="/trangbi/xoa/{{MA_TRANG_BI}}?_method=DELETE">
      <input type="submit" class="btn btn-danger pull-left btn1" value="Xóa">
    </form>
    <form method="POST" class="btn btn-success pull-left" action="/trangbi/chinhsua/{{MA_TRANG_BI}}">
      <input type="submit" class="btn btn-success btn1" value="Chỉnh sửa">
    </form>
    <form method="POST" class="btn btn-primary pull-left" action="/trangbi/thongke/{{MA_TRANG_BI}}">
      <input type="submit" class="btn btn-primary btn1" value="Thống kê">
    </form>
    {{/each}}
    {{/if}}
    <form><br/></form>
    <form>
    <a class="btn btn-warning pull-left" href="/trangbi"><b>Quay lại</b></a>
    </form>

  </div>
</body>
