<style>
    body {
        --color-1: #445fa5;
        --color-2: #a1b0d8;
        --color-3: #256579;
        --color-4: #6d7a93;
        --color-5: #96a0b5;

        background-image: url('https://c4.wallpaperflare.com/wallpaper/37/323/635/league-of-legends-shurima-blurred-video-games-wallpaper-preview.jpg');
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .disabled {
        display: none;
    }
    .champion-search {
        position: sticky;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
    }
    .champion-search>input {
        margin-left: 5px;
    }
    .body-data {
        margin: 25px auto;
        width: 70%;
        font-size: 14px;
        opacity: 0.9;
    }
    .body-data table {
        margin: 25px auto;
        width: 70%;
        font-size: 14px;
    }
    .body-data td,
    .body-data th {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }
    .body-data th {
        background-color: var(--color-1);
        color: white;
        text-align: center;
    }


    .body-data tr:nth-child(even) {
        background-color: #eee;
    }

    .body-data tr:nth-child(odd) {
        background-color: white;
    }

    #add-champ-form {
        width: 70%;
        min-width: 425px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #add-champ-form>label {
        color: white;
        margin: 5px;
    }
    #add-champ-form>label>input {
        border: none;
        opacity: 0.9;
        box-shadow: 1px 1px 12px #fff;
    }
    #add-champ-form>label>input:focus {
        border: none;
    }
</style>









<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" class="logo_brand">
                    <h2>LIÊN MINH HUYỀN THOẠI</h3>
                </a>

                <form class="champion-search" action="skins" method="post">
                    <input type="text" name="champName" id="formGet" placeholder="Nhập tên tướng...">
                    <input class="disabled" type="text" name="clientMethod" value="GET" id="formGet">
                    <input class="disabled" type="submit">
                </form>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/trangbi">TRANG BỊ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <h1 style="width: 70%; margin: 10px auto; color: white;">Thêm trang phục</h1>

    <form id="add-champ-form" action="skins" method="post">

        <label>
            Tên tướng
            <br>
            <input type="text" name="champName">
        </label>
        <label>
            Chủ đề
            <br>
            <input type="text" name="skinPostfix">
        </label>
        <label>
            Bậc
            <br>
            <input type="text" name="skinLevel">
        </label>
        <label>
            Ngày ra mắt
            <br>
            <input type="text" name="date">
        </label>

        <input class="disabled" type="text" name="clientMethod" value="POST">
        <input class="disabled" type="submit" value="Tạo trang phục mới">
    </form>

    <!-- Hiển thị danh sách -->
    {{#if rows}}

    <table class="body-data">
        <tr>
            <th>STT</th>
            <th>Tên tướng</th>
            <th>Chủ đề</th>
            <th>Bậc</th>
            <th>Ngày ra mắt</th>
            <th>Chỉnh sửa</th>
        </tr>

        {{#each rows}}
        <tr>

            {{!-- <td><input type="text" name="champName" id="update-skin" value="{{this.TEN_TUONG}}"></td> --}}
            <td> {{@index}} </td>
            <td> {{this.TEN_TUONG}} </td>
            <td>
                <input type="text" 
                    name="skinPostfix" 
                    value="{{this.CHU_DE}}" 
                    form="update-skin-{{@index}}"
                >
            </td>
            {{!-- <td> {{this.CHU_DE}} </td> --}}
            <td>
                <input type="text" 
                    name="skinLevel" 
                    value='{{this.BAC}}' 
                    form="update-skin-{{@index}}"
                >
            </td>
            {{!-- <td> {{this.BAC}} </td> --}}
            <td> {{this.NGAY_RA_MAT}} </td>
            <td>

                <form action="skins" method="post" id="update-skin-{{@index}}">
                    <input class="disabled" type="text" name="champID" value={{this.MA_TUONG}} >
                    <input class="disabled" type="text" name="skinID" value={{this.MA_TRANG_PHUC}} >
                    <input class="disabled" type="text" name="champName" value={{this.TEN_TUONG}}>
                    <input class="disabled" type="text" name="clientMethod" value="PUT" >
                    <input type="submit" value="Ghi" style="background-color: var(--color-1);" >
                </form>

                <form action="skins" method="post">
                    <input class="disabled" type="text" name="champID" value={{this.MA_TUONG}}>
                    <input class="disabled" type="text" name="skinID" value={{this.MA_TRANG_PHUC}}>
                    <input class="disabled" type="text" name="champName" value={{this.TEN_TUONG}}>
                    <input class="disabled" type="text" name="clientMethod" value="DELETE">
                    <input type="submit" value="Xoá" style="background-color: transparent;">
                </form>

            </td>
        </tr>
        {{/each}}

    </table>


    {{else}}

    <p class='body-data'>Không tồn tại tướng trong dữ liệu!</p>

    {{/if}}

</body>

    {{else}}

    <p class='body-data' style="color: white;">Không tồn tại tướng trong dữ liệu!</p>

    {{/if}}

</body>

