<style>
        button {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }
    .btn1{
      padding: 0px;
    }
    .tieude{
    color: red;
    margin: 0;
    }
    body{
      background: url(AnhNen.jpg);
      background-size: cover;
      background-color: #fce5f9;
    }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" class="logo_brand">
            <h2>THÔNG KÊ THÔNG SỐ TRANG BỊ</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trangbi">TRANG BỊ</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/user/add">Add User</a>
              </li> --}}
          </div>
        </div>
      </nav>
</header>

<body>
  <div class="container" id="container">
    <a><br/></a>
    <h2 class="tieude">TỔNG QUAN</h2>
    <ul class="list-group">
      <li class="list-group-item"><strong>Mã trang bị: </strong>{{ma}}</li>
      <li class="list-group-item"><strong>Tên trang bị: </strong>{{ten}}</li>
      <li class="list-group-item"><strong>Số trận xuất hiện: </strong>{{so_tran}}</li>
      <li class="list-group-item"><strong>Tỷ lệ xuất hiện: </strong>{{ty_le}}%</li>
      <li class="list-group-item"><strong>Số lượt sử dụng: </strong>{{so_luot}}</li>
      <li class="list-group-item"><strong>Tần suất sử dụng: </strong>{{tan_suat}} lần/trận</li>
      <li class="list-group-item"><strong>Rank sử dụng nhiều nhất: </strong>{{rank}}</li>
    </ul>
    <br>

    <h2 class="tieude">CHI TIẾT</h2>
    {{#each chitiet}}
    <ul class="list-group">
      <li class="list-group-item"><strong>Mã trận đấu: </strong>{{MA_TRAN_DAU}}
      <a class="btn btn-success" type="submit">Chi tiết trận đấu</a></li>
      <li class="list-group-item"><strong>Số lượt sử dụng: </strong>{{TK1}}</li>
    </ul>
    <br>
    {{/each}}

  </div>
</body>
